<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shooting Game</title>

    <link rel="stylesheet" href="game.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="game.js" defer></script>
    <script src="objects.js" defer></script>
  </head>

  <body>
    <div id="background">
      <img src="./resource/background.png" width="800" height="220" />
    </div>
    <div id="startBtn">
      <button type="button"><img src="./resource/start_button.png" /></button>
    </div>
    <div id="canvas">
      <canvas id="myCanvas" width="800" height="500"></canvas>
    </div>
    <audio controls id="bgm" hidden="true">
      <source src="./resource/lost_saga.mp3" type="audio/mp3" />
    </audio>
  </body>
</html>
