@font-face {
  font-family: "Sunday";
  src: url("./resource/Sunday-Regular.woff");
}

body {
  background-color: #424242;
}
#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#canvas {
  position: relative;
}
#background {
  text-align: center;
  margin-bottom: -4px;
  margin-top: 10px;
}
* {
  padding: 0;
  margin: 0;
}
canvas {
  background: #ebc78d;
  display: block;
  margin: 0 auto;
}
